<div class="calendar__container" fxLayout="row" style="position: relative;">
    <div class="calendar__times" fxLayout="column">
        <div class="employee-avatar-container" fxLayout="column" fxLayoutGap="4px" fxLayoutAlign=" center" >
            <div class="app-employee-avatar app-employee-avatar--spacer">
                <span>A</span>
            </div>
            <span>A</span>
        </div>
        <app-employee-calendar 
            [isFirst]="true">
        </app-employee-calendar>
    </div>
    <div class="calendar__employees" fxFlex fxLayout="row">
        <!-- WHEN FILTERED EMPLOYEES EXIST -->
        <ng-container *ngIf="!! employees.length">
            <div fxLayout="column" fxFlex *ngFor="let employee of employees">
                <div class="employee-avatar-container" fxLayout="column" fxLayoutGap="4px" fxLayoutAlign=" center">    
                    <div class="app-employee-avatar">
                        <span>{{ employee.initials }}</span>
                    </div>
                    <span>{{ employee.name }}</span>
                </div>
                <app-employee-calendar fxFlex [employee]="employee">
                </app-employee-calendar>
            </div>
        </ng-container>

        <!-- WHEN FILTERED EMPLOYEES DO NOT EXIST -->
        <div fxFlex fxLayout="column" *ngIf="! employees.length">
            <div class="employee-avatar-container" fxLayout="column" fxLayoutGap="4px" fxLayoutAlign=" center" >
                <div class="app-employee-avatar app-employee-avatar--spacer">
                    <span>A</span>
                </div>
                <span>A</span>
            </div>
            <app-employee-calendar  [clickDisabled]="true">
            </app-employee-calendar>
        </div>
    </div> 
</div>