.calendar__container {
    padding-top: 60px;
}

.calendar__times {
    position: sticky;
    left: 0;
    z-index: 600;
}

.employee-avatar-container {
    position: sticky;  
    top: 60px;
    z-index: 500;
    background: #FAFAFA;
    padding: 4px 0;
    border-bottom: rgb(220,220,220) 1px solid;
    cursor: pointer;

    span {
        white-space: nowrap;
    }
    
    @media (min-width: 600px) {
        padding: 8px 0;
    }

    .app-employee-avatar {
        font-size: 14px;
        width: 32px;
        height: 32px;
    
        @media (min-width: 600px) {
            font-size: 18px;
            width: 40px;
            height: 40px;
        }
    }
}


.calendar__employees app-employee-calendar {
    min-width: 150px;
    width: 100%;

    div.cal-time  {
        display: none;
    }

    .cal-week-view .cal-ends-within-day .cal-event {
        margin-left: -70px;
        width: calc(100% + 70px);
        line-height: 1.45;
    }

    .cal-day-view .cal-current-time-marker {
        margin-left: 0;
        width: 100%;
    }
}

.calendar__times app-employee-calendar {
    .cal-week-view .cal-time-events .cal-day-columns:not(.cal-resize-active) .cal-hour-segment:hover {
        background: transparent;
    }
}

.calendar__times app-employee-calendar {
    left: 0;
}

.cal-week-view {
    border-top: none;
}

.calendar__times {
    @media (max-width: 599px) {
        .cal-cell-row {
            width: 100%;
        }
        .ng-star-inserted { 
            width: 50px;
        }
        .cal-month-view .cal-day-cell {
             width: 50px;
             min-width: 0px;
        }
        .cal-current-time-marker.ng-star-inserted {
            margin-left: -50px;
        }
    }
}
