.calendar__times {
    position: sticky;
    left: 0;
    z-index: 2000;
}

.employee-avatar-container {
    position: sticky;  
    top: 0;
    z-index: 1000;
    background: #FAFAFA;
    padding: 8px 0;
    border-bottom: rgb(220,220,220) 1px solid;

}

.calendar__employees app-employee-calendar {
    min-width: 150px;
    width: 100%;

    div.cal-time  {
        display: none;
    }

    .cal-week-view .cal-ends-within-day .cal-event {
        margin-left: -70px;
        width: calc(100% + 70px);
    }

    .cal-day-view .cal-current-time-marker {
        margin-left: 0;
        width: 100%;
    }
}

.calendar__times app-employee-calendar {
    .cal-week-view .cal-time-events .cal-day-columns:not(.cal-resize-active) .cal-hour-segment:hover {
        background: transparent;
    }
}

.calendar__times app-employee-calendar {
    left: 0;
}

.cal-week-view {
    border-top: none;
}
