<div class="layout-container" fxLayout="column" fxLayoutAlign=" center" fxFlexFill>
    <h1 class="selection-heading">Reset password</h1>

    <div class="card" [class.fake-mat-card]="isNotMobile" fxLayout="column">
        <mat-form-field fxFlex hideRequiredMarker>
            <mat-label>Password</mat-label>
            <input type="password" 
                [(ngModel)]="this.password"
                name="passwordField"
                #passwordField="ngModel" 
                required
                matInput>
            <mat-icon class="input-icon" matPrefix>lock</mat-icon>
            <mat-error *ngIf="passwordField.hasError('required')">Password is required.</mat-error>
        </mat-form-field>
        <button mat-flat-button 
            (click)="this.onSubmit()"
            type="submit" 
            color="accent"
            [disabled]="this.sending">
        Reset
    </button>
    </div>
</div>
<mat-progress-bar class="app-loading-bar" *ngIf="sending" mode="indeterminate"></mat-progress-bar>
