<div class="app-editor view">
    <form #editorForm="ngForm" (ngSubmit)="onSave()">
        <mat-toolbar class="app-editor-toolbar" fxLayout="row" fxLayoutGap="10px">
            <button mat-icon-button 
                *ngIf="original"
                type="button"
                class="close-button" 
                aria-label="Close edit employee button."
                (click)="onClose()">
                <mat-icon>close</mat-icon>
            </button>
            <span class="app-editor-title" *ngIf="!loading">{{ !!original ? 'Edit' : 'New' }} Staff</span>
            <span fxFlex></span>
            <button type="button" 
                *ngIf="original"
                class="delete-button" 
                mat-raised-button 
                [disabled]="saving || loading || !original"
                (click)="onDelete()"> 
                Delete
            </button>
            <button type="submit" mat-raised-button color="primary" [disabled]="saving || loading">
                {{ !!original ? 'Save' : 'Submit' }}
            </button>
        </mat-toolbar>
        <mat-progress-bar class="app-loading-bar" *ngIf="saving" mode="indeterminate"></mat-progress-bar>

        <div class="app-view-padding"
            fxLayout="column"
            fxLayoutAlign=" center"
            fxLayoutGap="40px"
            *ngIf="!loading">
            <mat-card class="app-editor-card">
                <mat-card-title class="app-editor-card-title">Basic</mat-card-title>
                <div fxLayout="column">
                    <mat-form-field fxFlex hideRequiredMarker>
                        <mat-label>Name</mat-label>
                        <input type="text"
                            [(ngModel)]="employee.name"
                            name="employeeName"
                            #employeeName="ngModel"
                            required
                            [disabled]="saving"
                            matInput>
                    <mat-error *ngIf="employeeName.hasError('required')">Name is required</mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex hideRequiredMarker>
                        <mat-label>Email</mat-label>
                        <input type="email"
                            [(ngModel)]="employee.email"
                            name="employeeEmail"
                            #employeeEmail="ngModel"
                            required
                            email
                            [disabled]="saving"
                            matInput>
                        <mat-error *ngIf="employeeEmail.hasError('required')">Email is required</mat-error>
                        <mat-error *ngIf="employeeEmail.hasError('email')">Email is invalid.</mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex hideRequiredMarker>
                        <mat-label>Phone</mat-label>
                        <input type="phone"
                            [(ngModel)]="employee.phone"
                            name="employeePhone"
                            #employeePhone="ngModel"
                            required
                            [disabled]="saving"
                            matInput>
                        <mat-error *ngIf="employeePhone.hasError('required')">Phone is required</mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex hideRequiredMarker>
                        <mat-label>Password</mat-label>
                        <input type="password"
                            [(ngModel)]="password"
                            name="employeePassword"
                            #employeePassword="ngModel"
                            required
                            [disabled]="saving"
                            matInput>
                        <mat-error *ngIf="employeePassword.hasError('required')">Password is required</mat-error>
                    </mat-form-field>
                </div>
            </mat-card>

            <mat-card class="app-editor-card">
                <mat-card-title class="app-editor-card-title">Schedule</mat-card-title>
                <div fxLayout="column">
     
                
                </div>
            </mat-card>
        </div>
    </form>
    <mat-progress-spinner class="app-page-loading" mode="indeterminate" *ngIf="loading"></mat-progress-spinner>
</div>
