div.title-row {
    margin-bottom: 16px;

    h1 {
        margin-bottom: 0;
    }
}

span.mat-caption {
  font-weight: bold;
  font-size: 14px;
}

mat-icon {
    color: #424242;
}

form {
  height: calc(100% - 60px);
}
