<form #form="ngForm" (ngSubmit)="onSave()">
<div class="title-row" fxLayout="row" fxLayoutAlign="space-between center">
    <h1 mat-dialog-title>{{ this.booking?.id ? '' : 'New' }} Booking</h1>
    <button class="icon-button" type="button" mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
</div>
<div mat-dialog-content>
    <div fxLayout="column" *ngIf="!loading">
        <div fxFlex fxLayout="column" *ngIf="!booking?.id">
            <mat-form-field fxFlex>
                <mat-label>Start Time</mat-label>
                <mat-select name="startTime"
                    #startTimeField="ngModel"
                    [(ngModel)]="startTime"
                    [disabled]="saving" 
                    [errorStateMatcher]="errorStateMatcher"
                    required>
                    <mat-option *ngFor="let time of times()" [value]="time">
                        {{ time | appTimeOfDay:event.start}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="startTimeField.hasError('required')">Start time is required.</mat-error>
                <mat-error *ngIf="startTimeField.hasError('overlap')">Start time unavailable for the selected services.</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex>
                <mat-label>Client Name</mat-label>
                <input type="text"
                    name="manualClientNameField"
                    #manualClientNameField="ngModel"
                    [(ngModel)]="manualClientName"
                    [disabled]="saving"
                    matInput>
            </mat-form-field>
            <mat-form-field fxFlex>  
                <mat-label>Service</mat-label>
                <mat-select name="servicesField" 
                    #servicesField="ngModel"
                    [(ngModel)]="selectedServices"
                    (ngModelChange)="onServicesChanged()"
                    [disabled]="saving"
                    multiple 
                    required>
                    <mat-option *ngFor="let service of services" [value]="service">
                        {{ service.name }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="servicesField.hasError('required')">At least one service is required.</mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="column" fxLayoutGap="12px">
            <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="8px"
                *ngIf="this.booking">
                <mat-icon fontSet="material-icons-round">person</mat-icon>
                <span *ngIf="booking.client.id">{{ booking.client.full_name }}</span>
                <span *ngIf="!booking.client.id">{{ booking.manual_client_name }}</span>
            </div>
            <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="8px"
                *ngIf="this.booking && this.booking.client.id">
                <mat-icon fontSet="material-icons-round">phone</mat-icon>
                <span>{{ booking.client.phone | mask: '(000) 000-0000' }}</span>
            </div>
            <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="8px"
                *ngIf="this.booking && this.booking.client.id">
                <mat-icon fontSet="material-icons-round">mail</mat-icon>
                <span>{{ booking.client.email }}</span>
            </div>
            <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="8px">
                <mat-icon fontSet="material-icons-round">schedule</mat-icon>
                <span>{{ event.start | date:'EEEE, MMMM d' }}, {{ formatTime(startTime) | date:'h:mm a' }} - </span>
                <span *ngIf="!!this.booking">{{ formatTime(endTime) | date:'h:mm a' }}</span>
                <span *ngIf="!this.booking && this.selectedServices.length">{{ formatTime(endTime) | date:'h:mm a' }}</span>
            </div>
            <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="8px" *ngIf="booking?.id">
                <mat-icon fontSet="material-icons-round">build</mat-icon>
                <span>
                    {{ this.displayServices() }}
                </span>
            </div>
        </div>
    </div>
    <div fxLayout="row" *ngIf="loading" fxLayoutAlign="center">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
</div>
<div mat-dialog-actions align="end">
    <mat-progress-spinner mode="indeterminate" diameter="36" *ngIf="saving"></mat-progress-spinner>
    <button type="button" mat-flat-button color="warn" [disabled]="loading" *ngIf="booking?.id" (click)="onCancelBooking()">Cancel</button>
    <button type="submit" mat-flat-button color="accent" [disabled]="saving || loading || booking?.id">Save</button>
</div>
</form>