@import '~@angular/material/theming';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-primary: mat-palette($mat-indigo);
$app-accent: mat-palette($mat-pink, A200, A100, A400);
$app-warn: mat-palette($mat-red);

$color-primary: mat-color($app-primary);
$color-accent: mat-color($app-accent);
$color-warn :mat-color($app-warn);

$color-white: lighten($color-primary, 50%);

