@import '~@angular/material/theming';
@include mat-core();



// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$app-primary: mat-palette($mat-grey);
$app-accent: mat-palette($mat-blue);
 
$app-primary: mat-palette($app-primary);
$app-accent: mat-palette($app-accent, 600);
$app-warn: mat-palette($mat-red);

$app-color-primary: mat-color($app-primary, 200);
$app-color-accent: mat-color($app-accent);
$app-color-accent-light: mat-color($app-accent, 100);
$app-color-warn: mat-color($app-warn);

$app-color-white: mat-color($app-primary, 100);
$app-color-black: mat-color($app-primary, 800);
$app-color-dark-gray: mat-color($app-primary, 700);
$app-color-avatar: mat-color($app-accent, 100);
$app-color-avatar-font: mat-color($app-accent, 700);
$app-color-light-gray: mat-color($app-primary, 500);
$app-color-background: #fafafa;

$app-color-brand: #1876c9;


