<div class="app-view-padding" fxLayout="row" fxLayoutAlign="center">
    <div fxFlex fxLayoutAlign=" center" fxLayout="column" *ngIf="!loading" fxLayoutGap="15px">
        <mat-card class="app-selectable-card app-medium-card" 
            *ngFor="let employee of employees" 
            (click)="onEdit(employee)">
            <div fxLayout="row" fxLayoutGap="20px">
                <!-- <div> -->
                <div class="app-employee-avatar">{{ employee.initials }}</div>
                <!-- </div> -->
                <div fxFlex fxLayout="column">
                    <mat-card-title>{{ employee.name }}</mat-card-title>
                    <!-- <div fxFlex fxLayout="row"> -->
                        <!-- <span fxFlex></span> -->
                        <!-- <span class="mat-caption">Active</span> -->
                        <!-- <mat-slide-toggle [(ngModel)]="employee.active" 
                            (ngModelChange)="onToggleActive(employee)"
                            (click)="$event.stopPropagation();">
                        </mat-slide-toggle> -->
                    <!-- </div> -->
                    <mat-card-subtitle>{{ employee.type }}</mat-card-subtitle>
                </div>
                <span fxFlex></span>
                <!-- <mat-icon fxFlexAlign="center">arrow_forward_ios</mat-icon> -->
                <mat-icon fxFlexAlign="center">more_vert</mat-icon>
            </div>
        </mat-card>
    </div>
</div>

<mat-progress-spinner class="app-page-loading" mode="indeterminate" *ngIf="loading"></mat-progress-spinner>
<button class="app-fab-new" 
    mat-fab
    color="primary" 
    aria-label="Create new employee button." 
    matTooltip="Invite staff"
    matTooltipPosition="before"
    matTooltipClass="app-tooltip"
    [disabled]="loading"
    (click)="onNew()">
    <mat-icon fontSet="material-icons-round">add</mat-icon>
</button>
