mat-card {
    width: 100%;
    max-width: 400px;
}
h1 {
    font-size: 75px;
    margin-bottom: 60px;
}

span.fake-link {
    font-weight: 500; 
    cursor: pointer; 
    text-decoration: underline;
}

div.forgot-password {
    margin-bottom: 16px;
}

mat-card {
    margin-bottom: 100px;
}