.staff-invitation-dialog {
    mat-form-field {
        margin-top: 8px;
    }
    
    .mat-form-field-wrapper {
        padding-bottom: 0;
    }
    
    .button-container {
        margin-top: 8px;
        margin-bottom: 16px;
    }
}
