<div fxLayout="column" fxFlex>
    <div class="filter__container" fxLayout="row" fxLayoutAlign="center center">
        <div fxLayout="row">
            <div class="filter__button filter__button--prev" (click)="onPrevChosen()">
                <mat-icon class="">chevron_left</mat-icon>
            </div>

            <div class="filter__button filter__button--today" (click)="onTodayChosen()">
                Today
            </div>

            <mat-form-field class="date-picker">
                <input matInput 
                    [matDatepicker]="datePicker" 
                    name="selectedDateField"
                    [(ngModel)]="this.selectedPickerDate"
                    (ngModelChange)="this.onSelectedPickerDateChanged()">
                <mat-datepicker #datePicker></mat-datepicker>
            </mat-form-field>

            <div class="filter__button filter__button--pick" (click)="datePicker.open()">
                {{ formattedDate() }}
            </div>

            <div class="filter__button filter__button--next" (click)="onNextChosen()">
                <mat-icon class="">chevron_right</mat-icon>
            </div>
        </div>
    </div>
    <app-employee-calendar-list *ngIf="!loading" fxFlex
        [employees]="filteredEmployees">
    </app-employee-calendar-list>
</div>

<mat-progress-spinner class="app-page-loading" mode="indeterminate" *ngIf="loading"></mat-progress-spinner>
