<div fxLayout="column" fxFlex>
    <div class="filter__container" fxLayout="row" fxLayoutAlign="center center">
        <div fxLayout="row">
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Option 1</mat-radio-button>
            <mat-radio-button value="2">Option 2</mat-radio-button>
          </mat-radio-group>
          
            <div class="filter__button filter__button--prev" (click)="onPrevChosen()" matRipple>
                <mat-icon>chevron_left</mat-icon>
            </div>

            <div class="filter__button filter__button--today" (click)="onTodayChosen()" matRipple>
                Today
            </div>

            <mat-form-field class="date-picker">
                <input matInput 
                    [matDatepicker]="datePicker" 
                    name="selectedDateField"
                    [(ngModel)]="this.selectedPickerDate"
                    (ngModelChange)="this.onSelectedPickerDateChanged()">
                <mat-datepicker #datePicker></mat-datepicker>
            </mat-form-field>

            <div class="filter__button filter__button--pick" (click)="datePicker.open()">
                {{ formattedDate() }}
            </div>

            <div class="filter__button filter__button--next" (click)="onNextChosen()" matRipple>
                <mat-icon>chevron_right</mat-icon>
            </div>
        </div>
    </div>
    <app-employee-calendar-list *ngIf="!loading" fxFlex
        [company]="company"
        [employees]="filteredEmployees"
        [date]="dateToMoment()">
    </app-employee-calendar-list>
</div>

<mat-progress-spinner class="app-page-loading" mode="indeterminate" *ngIf="loading"></mat-progress-spinner>
