<h1 mat-dialog-title>Block Time</h1>
<form (ngSubmit)="onSubmit()">
    <div mat-dialog-content>
        <mat-form-field>
            <mat-label>Choose a date</mat-label>
            <input matInput name="startDatePicker" [matDatepicker]="startDatePicker" [(ngModel)]="this.startDate">
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>    
        <mat-checkbox name="isAllDayField" [(ngModel)]="isAllDay">All day</mat-checkbox>
        <div *ngIf="!isAllDay">
            <mat-form-field>    
                <mat-select [(ngModel)]="startTime" name="startTimeField" #startTimeField="ngModel">
                    <mat-option *ngFor="let time of times" [value]="time">
                        {{ getFormattedTime(time) }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>    
                <mat-select [(ngModel)]="endTime" name="endTimeField" #endTimeField="ngModel">
                    <mat-option *ngFor="let time of times" [value]="time">
                        {{ time }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <mat-checkbox name="doesRepeateField" [(ngModel)]="doesRepeat">Repeats</mat-checkbox>

        <mat-form-field *ngIf="doesRepeat">
            <mat-label>Choose a date</mat-label>
            <input matInput name="endDatePicker" [matDatepicker]="endDatePicker" [(ngModel)]="this.endDate">
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
        </mat-form-field> 
        
    </div>

    <div mat-dialog-actions align="end">
        <button type="button" mat-flat-button mat-dialog-close>Cancel</button>
        <button type="sumbit" mat-flat-button color="accent">Save</button>
    </div>
</form>

