<h1 mat-dialog-title>Forgot your password?</h1>
<div mat-dialog-content>Send a password reset link to the email you signed up with.</div>
<div class="email-field-container">
    <mat-form-field fxFlex hideRequiredMarker>
        <mat-label>Email</mat-label>
        <input type="email" 
            [(ngModel)]="email"
            name="emailField"
            #emailField="ngModel" 
            email
            required
            matInput>
        <mat-icon class="input-icon" matPrefix>email</mat-icon>
        <mat-error *ngIf="emailField.hasError('email')">Invalid email format.</mat-error>
        <mat-error *ngIf="emailField.hasError('required')">Email is required.</mat-error>
    </mat-form-field>
</div>
<div mat-dialog-actions align="end">
    <mat-progress-spinner *ngIf="sending" mode="indeterminate" diameter="36"></mat-progress-spinner>
    <button mat-flat-button mat-dialog-close>Cancel</button>
    <button mat-flat-button color="accent" (click)="onSend()" [disabled]="sending">Send</button>
</div>
