<div class="app-view-padding" fxLayout="row">
    <div class="service-list mat-elevation-z2" fxLayout="column" *ngIf="!loading">
        <div class="service" 
            fxLayout="row" 
            fxLayoutAlign="space-between center"
            *ngFor="let service of services"
            (click)="onEdit(service)">
            <div fxLayout="column">
                <span class="name">{{ service.name }}</span>
                <span class="duration">{{ service.duration | appDuration }}</span>
            </div>
            <span class="price">{{ service.price | appCurrency }}</span>
        </div>
    </div>
</div>

<mat-progress-spinner class="app-page-loading" mode="indeterminate" *ngIf="loading"></mat-progress-spinner>
<button class="app-fab-new" 
    mat-fab
    color="primary" 
    aria-label="Create new service button." 
    matTooltip="New service"
    matTooltipPosition="before"
    matTooltipClass="app-tooltip"
    [disabled]="loading"
    (click)="onAdd()">
    <mat-icon fontSet="material-icons-round">add</mat-icon>
</button>