<div class="app-view-padding" fxLayout="row" fxLayoutAlign="center">
    <div fxFlex fxLayoutAlign=" center" fxLayout="column" *ngIf="!loading" fxLayoutGap="15px">
        <mat-card class="app-selectable-card app-medium-card" 
            *ngFor="let service of services" 
            (click)="onEdit(service)">
            <mat-card-title fxLayoutAlign="space-between">
                <span>{{ service.name }}</span>
                <span>{{ service.price | appCurrency }}</span>
            </mat-card-title>
            <mat-card-subtitle>{{ service.duration | appDuration }}</mat-card-subtitle>
        </mat-card>
    </div>
</div>

<mat-progress-spinner class="app-page-loading" mode="indeterminate" *ngIf="loading"></mat-progress-spinner>
<button class="app-fab-new" 
    mat-fab
    color="primary" 
    aria-label="Create new service button." 
    matTooltip="New service"
    matTooltipPosition="before"
    matTooltipClass="app-tooltip"
    (click)="onNew()"
    [disabled]="loading">
    <mat-icon fontSet="material-icons-round">add</mat-icon>
</button>