<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      mode="side"
      disableClose="true" 
      opened="true"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
      fxLayout="column">
    <mat-nav-list fxLayout="column" fxFlex>
      <!-- <button mat-icon-button style="margin: 10px;" (click)="isExpanded = !isExpanded">
        <mat-icon fontSet="material-icons-round" [fxShow]="isExpanded" mat-list-icon>first_page</mat-icon>
        <mat-icon fontSet="material-icons-round" [fxShow]="!isExpanded" mat-list-icon>last_page</mat-icon>
      </button> -->
      <h1 class="brand-logo">S</h1>
      <mat-list-item [routerLink]="['calendar']" routerLinkActive="active-router-link" matTooltip="Calendar" matTooltipPosition="after" [matTooltipDisabled]="isExpanded" matTooltipClass="app-tooltip" disableRipple>
        <mat-icon fontSet="material-icons-round" mat-list-icon>today</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Calendar</h4>
      </mat-list-item>
      <mat-list-item [routerLink]="['staff']" routerLinkActive="active-router-link" matTooltip="Staff" matTooltipPosition="after" [matTooltipDisabled]="isExpanded" matTooltipClass="app-tooltip" *ngIf="this.authedUser.canViewAllEmployees()" disableRipple>
        <mat-icon fontSet="material-icons-round" mat-list-icon>groups</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Staff</h4>
      </mat-list-item>
      <mat-list-item [routerLink]="['services']" routerLinkActive="active-router-link" matTooltip="Services" matTooltipPosition="after" [matTooltipDisabled]="isExpanded" matTooltipClass="app-tooltip" *ngIf="this.authedUser.canViewServices()" disableRipple>
        <mat-icon fontSet="material-icons-round" mat-list-icon>build</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Services</h4>
      </mat-list-item>
      <mat-list-item [routerLink]="['shop']" routerLinkActive="active-router-link" matTooltip="Shop" matTooltipPosition="after" [matTooltipDisabled]="isExpanded" matTooltipClass="app-tooltip" *ngIf="this.authedUser.canViewShop()" disableRipple>
        <mat-icon fontSet="material-icons-round" mat-list-icon>business</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Shop</h4>
      </mat-list-item>
      <mat-list-item [routerLink]="['account', this.authedUser.getId()]" routerLinkActive="active-router-link" matTooltip="Account" matTooltipPosition="after" [matTooltipDisabled]="isExpanded" matTooltipClass="app-tooltip" disableRipple>
        <mat-icon fontSet="material-icons-round" mat-list-icon>person</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Account</h4>
      </mat-list-item>
      
      <span fxFlex></span>

      <mat-list-item (click)="this.logout()" matTooltip="Logout" matTooltipPosition="after" [matTooltipDisabled]="isExpanded" matTooltipClass="app-tooltip">
        <mat-icon fontSet="material-icons-round" mat-list-icon>logout</mat-icon>
        <h4 mat-line *ngIf="isExpanded">Logout</h4>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- <mat-toolbar color="primary">
       <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button> 
      <span>management-spa</span>
    </mat-toolbar> -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
  
</mat-sidenav-container>

<div class="mobile-toolbar" *ngIf="(isHandset$ | async)">

    <div fxFlex="row" fxLayoutAlign="space-between center">

      <div class="mobile-toolbar__link" [routerLink]="['calendar']" routerLinkActive="active-mobile-router-link">
        <button mat-icon-button fontSet="material-icons-round">
          <mat-icon>today</mat-icon> 
        </button>      
        <span>Calendar</span> 
      </div>

      <div class="mobile-toolbar__link" [routerLink]="['staff']" routerLinkActive="active-mobile-router-link">
        <button mat-icon-button fontSet="material-icons-round">
          <mat-icon>groups</mat-icon> 
        </button>      
        <span>Staff</span> 
      </div>

      <div class="mobile-toolbar__link" [routerLink]="['services']" routerLinkActive="active-mobile-router-link">
        <button mat-icon-button fontSet="material-icons-round">
          <mat-icon>build</mat-icon> 
        </button>      
        <span>Services</span> 
      </div>

      <div class="mobile-toolbar__link" [routerLink]="['shop']" routerLinkActive="active-mobile-router-link">
        <button mat-icon-button fontSet="material-icons-round">
          <mat-icon>business</mat-icon> 
        </button>
        <span>Shop</span>     
      </div>
      
      <div class="mobile-toolbar__link">
        <button mat-icon-button fontSet="material-icons-round" [matMenuTriggerFor]="moreMenu">
          <mat-icon>menu</mat-icon> 
        </button>      
        <span>More</span>    
        <mat-menu #moreMenu yPosition="above">
          <button mat-menu-item [routerLink]="['account', this.authedUser.getId()]">
            <mat-icon fontSet="material-icons-round" mat-list-icon>person</mat-icon>
            <span>Account</span> 
          </button>
          <button mat-menu-item (click)="this.logout()">
            <mat-icon fontSet="material-icons-round" mat-list-icon>logout</mat-icon>
            <span>Logout</span>  
          </button>
        </mat-menu>
      </div>

    </div>
</div>
