@import '../../assets/scss/variables';

.sidenav-container {
  height: 100%;
  
  .sidenav .mat-toolbar {
    background: inherit;
  }

  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  h4 {
    font-weight: 500;
    color: $color-white;
  }

  mat-icon {
    transform: scale(1.2);
  }

  mat-nav-list {
    background-color: $color-primary;
  }

}

mat-nav-list mat-icon {
  color: $color-white;
  // font-weight: 500;
}

.mat-drawer-container {
  background-color: $color-background;
}

