@import '~@angular/material/theming';
@import './assets/scss/variables';

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// Plus imports for other components in your app.

// Typography overrides, defaults can be found in this file ^^
// $app-typography: mat-typography-config(
//   $title: mat-typography-level(20px, 32px, 400),
//   $subheading-2: mat-typography-level(16px, 32px, 400)
// );

// @include mat-core($app-typography);


// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$app-theme: mat-light-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
    warn: $app-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
}

body,
.mat-subheading-2 {
  margin: 0;
}

.snackbar-success {
  background: #1DA345;
}

.snackbar-warning {
  background: #FFC003;
}

.snackbar-error {
  background: #DE4045;
}

.app-tooltip {
  background-color: $color-primary;
  font-size: 16px;
  color: $color-white;
}

button.app-fab-new {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

// LAYOUT
.app-view-padding {
  padding: 32px 0;

  @media (min-width: 600px) {
    padding: 32px;  
  }
}

// EDITORS

mat-toolbar.app-editor-toolbar {
  background-color: #fff;

  button {
    font-size: 16px;
  }
}

.delete-button {
  color: #fff;
  background-color: $color-warn;
}

.app-editor-title {
  font-size: 30px;
  margin-left: 10px;
}

.app-editor-card {
  width: 100%;
  max-width: 500px;
}

.app-editor-view {
  height: 100%;
  background-color: $color-background;
}

mat-card-title.app-editor-card-title {
  margin-bottom: 30px;
}

// STATE
mat-progress-spinner.app-page-loading {
  position: absolute; 
  top: 30%; 
  left: 50%;
}

mat-progress-bar.app-loading-bar {
  position: absolute;
}

mat-card.app-card {
  // .mat-elevation-z0
  box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 20%), 0px 0px 0px 0px rgb(0 0 0 / 14%), 0px 0px 0px 0px rgb(0 0 0 / 12%) !important;

  @media(min-width: 600px) {
    // .mat-elevation-z4
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%) !important;
  }
}

.input-icon {
  margin-right: 8px;
  color: gray;
}

mat-form-field.no-padding-bottom > div.mat-form-field-wrapper {
  padding-bottom: 0;
}

.capitalize {
  text-transform: capitalize;
}

$color-light-blue: rgb(198, 198, 228);

.app-employee-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: darken($color-light-blue, 60%);
    background: rgb(198, 198, 228);

    font-size: 18px;
    width: 40px;
    height: 40px;
}

.app-employee-avatar.app-employee-avatar--spacer {
  visibility: hidden;

  + span {
    visibility: hidden;
  }
}



mat-form-field.inline-input .mat-form-field-infix {
  padding: 8px 0;
}
// ITEMS
// .item-list {
//   width: 100%;
//   max-width: 600px;
//   margin: 0 auto;
//   min-height: 60px;
//   background: white;
//   border-radius: 4px;
//   overflow: hidden;
//   box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
// }

// .item-list > div:not(:last-of-type) {
//   border-bottom: solid 1px #ccc;
// } 

// .item-list .item {
//   padding: 20px 10px;
//   color: rgba(0, 0, 0, 0.87);
//   display: flex;
//   box-sizing: border-box;
//   background: white;
//   cursor: pointer;
//   font-size: 18px;
//   font-weight: 500;

//   &:hover {
//       background: $color-light-gray;
//   }
// }

// .item-list .item-caption {
//   font-size: 14px;
//   font-weight: 400;
//   color: $color-dark-gray;
// }

// CARDS

mat-card.app-selectable-card {
  cursor: pointer;

  &:hover {
    box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
  }
}

mat-card.app-medium-card {
  max-width: 450px;
  width: 100%;
}



// * {
//   outline: 1px solid #f00 !important;
// }