@import '~@angular/material/theming';
@import './assets/scss/variables';

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// Plus imports for other components in your app.

// Typography overrides, defaults can be found in this file ^^
// $app-typography: mat-typography-config(
//   $title: mat-typography-level(20px, 32px, 400),
//   $subheading-2: mat-typography-level(16px, 32px, 400)
// );

// @include mat-core($app-typography);


// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$app-theme: mat-light-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
    warn: $app-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
}

body {
  margin: 0;
}

.snackbar-success {
  background: #1DA345;
}

.snackbar-warning {
  background: #FFC003;
}

.snackbar-error {
  background: #DE4045;
}

.tbs-tooltip {
  background-color: $color-primary;
  font-size: 16px;
  color: $color-white;
}

// LAYOUT
.app-view-padding {
  padding: 32px 16px;
}

// EDITORS

mat-toolbar.app-editor-toolbar {
  background-color: #fff;

  button {
    font-size: 16px;
  }

  .delete-button {
    color: $color-warn;
  }
}

.app-editor-title {
  font-size: 30px;
  margin-left: 10px;
}

.app-editor-card {
  width: 100%;
  max-width: 500px;
}

.app-editor-view {
  height: 100%;
  background-color: $color-background;
}

mat-card-title.app-editor-card-title {
  margin-bottom: 20px;
}

// STATE
.app-page-loading {
  position: absolute; 
  top: 30%; 
  left: 50%;
}

