<!-- <div class="app-editor-view" [@slideInOut]> -->
<div class="app-editor-view">
    <form #editorForm="ngForm">
        <mat-toolbar class="app-editor-toolbar" fxLayout="row" fxLayoutGap="10px">
            <button mat-icon-button 
                type="button"
                class="close-button" 
                aria-label="Close edit services button."
                (click)="onClose()">
                <mat-icon>close</mat-icon>
            </button>
            <span class="app-editor-title" *ngIf="!loading">{{ !!original.id ? 'Edit' : 'New' }} Service</span>
            <span fxFlex></span>
            <button type="button" (click)="onDelete()" color="warn" mat-flat-button [disabled]="saving || loading || !original.id">
                Delete
            </button>
        </mat-toolbar>
        <mat-progress-bar class="app-loading-bar" *ngIf="saving" mode="indeterminate"></mat-progress-bar>

        <div class="app-view-padding" 
            fxLayout="column" 
            fxLayoutAlign=" center" 
            *ngIf="!loading">
            <mat-card class="app-editor-card">
                <mat-card-title class="app-editor-card-title">{{ original.name || 'New' }}</mat-card-title>
                <div fxLayout="column">
                    <mat-form-field fxFlex hideRequiredMarker>
                        <mat-label>Name</mat-label>
                        <input type="text"
                            [(ngModel)]="service.name"
                            name="serviceName"
                            #serviceName="ngModel"
                            required
                            [disabled]="saving"
                            matInput>
                        <mat-error *ngIf="serviceName.hasError('required')">Name is required</mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex hideRequiredMarker>
                        <mat-label>Description</mat-label>
                        <textarea name="serviceDescription"
                            [(ngModel)]="service.description"
                            #serviceDescription="ngModel"
                            [disabled]="saving"
                            matInput>
                        </textarea>
                    </mat-form-field>

                    <mat-form-field fxFlex hideRequiredMarker>
                        <mat-label>Price</mat-label>
                        <input type="text"
                            class="price-field"
                            [(ngModel)]="service.price"
                            name="servicePrice"
                            #servicePrice="ngModel"
                            currencyInput
                            required
                            [disabled]="saving"
                            matInput>
                        <mat-error *ngIf="servicePrice.hasError('required')">Price is required</mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex>
                        <mat-label>Duration</mat-label>
                        <mat-select [(ngModel)]="service.duration"
                            name="serviceDuration"
                            #durationField="ngModel"
                            [disabled]="saving">
                            <mat-option *ngFor="let duration of durationOptions" [value]="duration">
                                {{ duration | appDuration }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="durationField.hasError('required')">Duration is required</mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex hideRequiredMarker>
                        <mat-label>Employees</mat-label>
                        <mat-select name="employeesField"
                            #employeesField="ngModel"
                            [(ngModel)]="selectedEmployees"
                            (ngModelChange)="onSelectedEmployeeChange()"
                            multiple
                            required>
                            <mat-select-trigger>
                                {{ this.displaySelectedEmployees() }}
                              </mat-select-trigger>
                            <mat-option (click)="toggleSelectAll()" value="all">All</mat-option>
                            <mat-option *ngFor="let employee of this.employees" [value]="employee">
                                {{ employee.full_name }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="employeesField.hasError('required')">You must assign at least 1 employee.</mat-error>
                    </mat-form-field>
                </div>
                <div class="save-button-row">
                    <button (click)="onSave()" mat-flat-button color="accent" [disabled]="saving || loading || !hasChanges()">
                        Save
                    </button>
                </div>
            </mat-card>
        </div>
    </form>
    <mat-progress-spinner class="app-page-loading" mode="indeterminate" *ngIf="loading"></mat-progress-spinner>
</div>